<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<style>
    h1{
        color: white;
        font-family: sans-serif
        text-align: center;
    }
    h2{
        color: black;
        background-color: white;
        font-family: Trebuchet MS;
        text-transform: uppercase;
        font-size: 20px;
        padding: 5px 10px 5px 10px;
    }
    h3{
        color: black;
        font-family: sans-serif;
        font-size: 15px;
        text-align: justify;
    }

    table{
    }
    td{
        text-align: center;
    }
    th{
        text-align: center;
    }
    tr{
    }
    li{
        color: black;
        font-family: sans-serif;
        width: 550px;
        text-align: left;
    }
    p{
        color: white;
        font-family: Trebuchet MS;
        text-align: center;
    }

    img {
        border-radius: 50%;
        height: 200px;
        width: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


</style>


<body style="background: url(https://i.imgur.com/mvGT6cE.png) no-repeat;background-color: #00ebdc; background-size: 100%;background-attachment:fixed; background-size: cover;">

<center><h1>CURRICULUM VITAE</h1></center>

<img src="https://media.licdn.com/dms/image/C4D03AQHGAdC90UYHRQ/profile-displayphoto-shrink_200_200/0?e=1526364000&v=alpha&t=Sioyz8vh8T-Xq0m7SVvBOmOvaJpZltl48ANb_7Zfv8I" alt="Avatar">
<br>
<p>Nixi Sendya Putri</p>
<p>Jakarta, 27 January 1997</p>
<p>Indonesia</p>
<section name="bio" style="overflow:auto">
    <center>
    <div class="col-md-6">
        <h2>Bio</h2>
        <h3>
        <br>
            Hello, my name is Nixi. Currently studying Computer Science at University of Indonesia.
        </h3>
    </div>
    </center>
</section>
<br>

<section name="education">
    <center>
    <div class="col-md-6">
        <h2>Education History</h2>
        <br>
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>SCHOOL</th>
        <th>YEAR</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Universitas Indonesia</td>
        <td>2016-Now</td>
      </tr>
      <tr>
        <td>SMA Plus Pembangunan Jaya</td>
        <td>2015-2016</td>
      </tr>
      <tr>
        <td>College et Ecole de Commerce Emilie-Gourd, Switzerland</td>
        <td>2013-2015</td>
      </tr>
      <tr>
        <td>Ecole de Culture Generale Jean-Piaget, Switzerland</td>
        <td>2012-2013</td>
      </tr>
      <tr>
        <td>Guangzhou Nanhu International School</td>
        <td>2010-2012</td>
      </tr>
      <tr>
        <td>SMP Pembangunan Jaya</td>
        <td>2009-2010</td>
      </tr>
      <tr>
        <td>SD Pembangunan Jaya</td>
        <td>2007-2009</td>
      </tr>
      <tr>
        <td>Ecole du Pommier, Switzerland</td>
        <td>2005-2007</td>
      </tr>
      <tr>
        <td>Ecole de La Tour, Switzerland</td>
        <td>2004-2005</td>
      </tr>
      <tr>
        <td>Sekolah Tunas Indonesia</td>
        <td>2003-2004</td>
      </tr>
    </tbody>
  </table>
</div>
    </center>
</section>
<br>
<br>


</body>
</html>
